  <form action="/wishlist_entries" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="input-group">
      <div class="input-group-btn">
        <input value="<%= book.id %>" type="hidden" name="wishlist_entry[book_id]">
        <input type="submit" name="commit" value="Add to Wishlist" class="btn btn-primary">
      </div>
    </div>
   </form>