
<!--  This code gets plugged into layout -->
<!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1 class="text-center">BookMate</h1>
                <p>A peer-to-peer application for buying, selling and renting books! Make a wish list for the books which you want to buy or rent and you will receive real-time notifications when they are available courtesy your facebook friends! You can also be the one to give away a book for sale or rent! Just post it here to send instant, wide and easy notifications to all of your facebook friends!</p>
                <a class="btn btn-primary btn-lg" href="/users/sign_in">Get Started now! Login to your account!</a>
                <p class="text-center">Don't have an account? <a href="/users/sign_up">Sign Up!</a></p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    BookMate! A cool online bookstore app! By Friends, for Friends! To Stay connected! With Friends! With Books! Check out our three best features below!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Amazon!</h2>
                <p>Compare the prices of the books posted by your friends with the prices offered by Amazon!</p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Dashboard!</h2>
                <p>View the dashboard featuring the real-time notifications regarding activities of your friends!</p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Friends!</h2>
                <p>Stay connected on the latest deals offered by your friends or with those seeking deals!</p>
            </div>
            <!-- /.col-md-4 -->
        </div>

</div>


