<div class="center-block" style="width:600px; height:400px; background-color: #D3D3D3; border-radius: 25px; margin-top: 40px">
 
  <div class="center-block" style="width:500px; height:300px; background-color: #f2f2f2; margin-top:40px">
    Wait for some time!
    <% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %></div>
<% end %>
  </div>
</div>