	<body>
  <div class= "container-fluid pull-right">
		<p> Don't Enjoy Alone </p>
	    <%= social_share_button_tag("A Great Site for Book Worms") %>
	</div>
  <h2>Available Books</h2>
   <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Book</th>
        <th style="width:10%">Price</th>
        <th style="width:30%">Add to Cart</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
         <%= render "book_row", book: book %>
         
       
          
          
          <!-- <br/><br/>
          <a href="/cart/<%=book.id%>">Add To Cart</a> -->
        
    <% end %>
   </tbody>
 </table>
 <br/><br/><br/><br/><br/>
 </body>