/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require social-share-button
 *= require rails_bootstrap_forms
 */

@import "bootstrap";

h1{
  color: blue;
  font-family: verdana;
}

.info {
  height: 90%;
  width: 99%;
  text-align: left;
  margin: 5px;
}

.center{
  display: inline-block;
  height: 98%;
  margin-top:5px;
  vertical-align: middle;
}


#book-image{
  width: 20%;
}
#book-details{
  width: 48%;
  padding-left: 10px;
}
#add-to-cart{
  vertical-align: top;
  width: 31%;
  height: 85%;
  padding-left:20px;
  padding-right:20px;
  border-radius: 10px;
  border: 5px solid #D3D3D3;
}
#book-image img{
  margin: 10px;
  width: 92%;
  height: 80%;
}
#book-details h3{
  margin-top: 5px;
  margin-bottom:0;
  font-weight: bold;
}
#book-details p{
  font-size: 14px;
}
#book-details h4{
  font-weight: bold;
}
#book-specs p{
  margin-top:0;
  margin-bottom:0;
}


.info{
margin: 10px;
  
}

.news{
  margin-top: 10px;
  margin-right:5px;
  box-shadow: 0 0 5px gray;
    padding:0 15px 0 15px;
    min-height: 300px;
}

.title p{
   font-weight: bold;
}

.fb-bookmate {
  color: white;
  background-color: DodgerBlue;
  font-size: 1em;
  &:hover {
    color: white;
    background-color: RoyalBlue;
  }
}