/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */

@import "bootstrap";

h1{
  color: blue;
  font-family: verdana;
}

.book {
  border-radius: 25px;
  border: 2px solid #D3D3D3;
  height: 122px;
  width: 800px;
  text-align: left;
  margin: 5px;
}

.center{
  display: inline-block;
  border-radius: 25px;
  height: 105px;
  margin-top:5px;
  margin-left: 5px;
  vertical-align: middle;
}


#book-image{
  width: 100px;
}
#book-details{
  width: 450px;
  padding-left: 10px;
}
#add-to-cart{
  width: 205px;
}
#book-image img{
  width: 100px;
  height: 105px;
  border-radius: 25px;
}
#book-details h3{
  margin-top: 5px;
  margin-bottom:0;
}
#book-details p{
  margin-top: 0;
  margin-bottom:0;
  font-size: 14px;
}

#add-to-cart a{
  text-transform: uppercase;
  font-size: 16px;
  background-color: #D3D3D3;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.info{
margin: 10px;
  
}

.news{
  margin-top: 10px;
  margin-right:5px;
  box-shadow: 0 0 5px gray;
    padding:0 15px 0 15px;
    min-height: 300px;
}
