// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

.col-lg-3 {
	height:400px; 
	border-radius: 25px;
	background-color: #f2f2f2;
	margin: 20px;
	border-radius: 25px;
}


